@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --radius: 0.75rem;
  --background: oklch(0.97 0.01 253.25);
  --foreground: oklch(0.32 0.03 253.25);
  --card: oklch(0.94 0.02 253.25);
  --card-foreground: oklch(0.32 0.03 253.25);
  --popover: oklch(0.94 0.02 253.25);
  --popover-foreground: oklch(0.32 0.03 253.25);
  --primary: oklch(0.6 0.16 273.57);
  --primary-foreground: oklch(0.98 0.01 273.57);
  --secondary: oklch(0.79 0.18 313.91);
  --secondary-foreground: oklch(1 0.01 313.91);
  --tertiary: oklch(0.69 0.22 35.61);
  --tertiary-foreground: oklch(0.99 0.02 35.61);
  --quaternary: oklch(0.7 0.16 208.5);
  --quaternary-foreground: oklch(1 0.01 208.5);
  --quinary: oklch(0.66 0.18 155.82);
  --quinary-foreground: oklch(1 0.01 155.82);
  --muted: oklch(0.91 0.02 253.25);
  --muted-foreground: oklch(0.55 0.02 253.25);
  --accent: oklch(0.89 0.02 253.25);
  --accent-foreground: oklch(0.24 0.03 253.25);
  --destructive: oklch(0.58 0.24 27.32);
  --border: oklch(0.88 0.02 253.25);
  --input: oklch(0.88 0.02 253.25);
  --ring: oklch(0.78 0.18 313.91);
  --chart-1: oklch(0.65 0.22 41.12);
  --chart-2: oklch(0.6 0.12 184.7);
  --chart-3: oklch(0.4 0.07 227.39);
  --chart-4: oklch(0.83 0.19 84.43);
  --chart-5: oklch(0.77 0.19 70.08);
  --sidebar: oklch(0.96 0.01 253.25);
  --sidebar-foreground: oklch(0.32 0.03 253.25);
  --sidebar-primary: oklch(0.6 0.16 273.57);
  --sidebar-primary-foreground: oklch(0.98 0.01 273.57);
  --sidebar-accent: oklch(0.91 0.02 253.25);
  --sidebar-accent-foreground: oklch(0.24 0.03 253.25);
  --sidebar-border: oklch(0.9 0.02 253.25);
  --sidebar-ring: oklch(0.78 0.18 313.91);
}

.dark {
  --background: oklch(0.18 0.02 253.25);
  --foreground: oklch(0.88 0.02 253.25);
  --card: oklch(0.22 0.02 253.25);
  --card-foreground: oklch(0.88 0.02 253.25);
  --popover: oklch(0.22 0.02 253.25);
  --popover-foreground: oklch(0.88 0.02 253.25);
  --primary: oklch(0.66 0.15 273.57);
  --primary-foreground: oklch(0.98 0.01 273.57);
  --secondary: oklch(0.79 0.18 313.91);
  --secondary-foreground: oklch(1 0.01 313.91);
  --tertiary: oklch(0.69 0.22 35.61);
  --tertiary-foreground: oklch(0.99 0.02 35.61);
  --quaternary: oklch(0.7 0.16 208.5);
  --quaternary-foreground: oklch(1 0.01 208.5);
  --quinary: oklch(0.66 0.18 155.82);
  --quinary-foreground: oklch(1 0.01 155.82);
  --muted: oklch(0.3 0.02 253.25);
  --muted-foreground: oklch(0.65 0.02 253.25);
  --accent: oklch(0.34 0.02 253.25);
  --accent-foreground: oklch(0.92 0.02 253.25);
  --destructive: oklch(0.7 0.19 22.22);
  --border: oklch(0.3 0.02 253.25);
  --input: oklch(0.3 0.02 253.25);
  --ring: oklch(0.79 0.18 313.91);
  --chart-1: oklch(0.49 0.24 264.38);
  --chart-2: oklch(0.7 0.17 162.48);
  --chart-3: oklch(0.77 0.19 70.08);
  --chart-4: oklch(0.63 0.27 303.9);
  --chart-5: oklch(0.65 0.25 16.44);
  --sidebar: oklch(0.22 0.02 253.25);
  --sidebar-foreground: oklch(0.88 0.02 253.25);
  --sidebar-primary: oklch(0.66 0.15 273.57);
  --sidebar-primary-foreground: oklch(0.98 0.01 273.57);
  --sidebar-accent: oklch(0.3 0.02 253.25);
  --sidebar-accent-foreground: oklch(0.92 0.02 253.25);
  --sidebar-border: oklch(0.3 0.02 253.25);
  --sidebar-ring: oklch(0.79 0.18 313.91);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
